<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Grace Tian">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <title>MonoMuse</title>
</head>
<body>
    <header>
        <h1>Exhibitions</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="explore.html">Explore</a>
            <a href="exhibitions.html">Exhibitions</a>
            <a href="tickets.html">Buy Tickets</a>
            <a href="checkout.html">Checkout</a>
        </nav>
    </header>

    <div class="main">
        <h3>Digital Dreams: Art in the Age of Algorithms</h3>
        <p>
            This exhibition explores how artists are using algorithms, machine learning, and artificial intelligence to create new forms of digital expression. From generative art that evolves in real-time to AI-powered installations that respond to visitors, the exhibits showcase the cutting-edge intersection of technology and creativity. Visitors can experience interactive pieces that challenge traditional notions of authorship and creativity, while also reflecting on the ethical implications of AI in art. 
        </p>
        <h3>Code & Canvas: The Language of Creative Technology</h3>
        <p>
            This exhibition highlights the ways programming has become a new medium for creation. Featuirng a diverse range of artworks that utilize code as a fundamental element of their design, this exhibition explores how artists are using programming languages to create dynamic, interactive, and immersive experiences. Visitors can engage with installations that allow them to manipulate code in real-time, offering a hands-on experience of the creative potential of programming. The exhibition also delves into the cultural and social implications of code as a form of artistic expression in the digital era. 
        </p>
    </div>

    <footer>
        <p>&copy; 2026 MonoMuse. All rights reserved.</p>
    </footer>
</body>
</html>